/* PC */
@media only screen and ( min-width: 1024px) {
            
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media screen and (max-width: 739px) {

    #slider .text-content {
        display: none;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    } 

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .menu-mobile-btn {
        display: block;
    }

    #nav {
        display: block
    }

    #nav li a {
        line-height: 48px;
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 42px;
    }

    #content .member-img {
        width: 60% !important;
    }

    .s-full-width, 
    .s-col-full {
        width: 100% !important;
    }

    .form-submit {
        margin-top: 16px !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

}
