/* PC */
@media only screen and ( min-width: 1024px) {
            
}

/* Tablet & Mobile */ 
@media only screen and (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }  
    #nav .subnav a {
        padding: 3px 12px;
    }
    .form-submit .form-control {
        padding: 15px;
    }
    .social-list {
        font-size: 48px;
    }
    #footer .copy-right a {
        display: inline-block;
        padding: 12px 0;
    }
    #footer .social-list {
        font-size: 33px;
    }

    #footer .social-list a {
        padding: 0 8px;
    }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media screen and (max-width: 739px) {

    #slider .text-content {
        display: none;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    } 

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .menu-mobile-btn {
        display: block;
    }

    #nav {
        display: block
    }

    #nav li a {
        line-height: 48px;
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 42px;
    }

    #content .member-img {
        width: 60% !important;
    }

    .s-full-width, 
    .s-col-full {
        width: 100% !important;
    }

    .form-submit {
        margin-top: 32px !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

}
