/*Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
#main {


}
.clear{
    clear: both;
}

.text-white{
    color: #fff!important;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background: #000;
    z-index: 2;
}
#nav{
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
} 
#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: rgb(216, 206, 206);
} 

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: -1px -1px 7px 1px rgba(0,0,0,0.65);
    top: 100%;
    min-width: 160px;
}

#nav .nav-arrow-down{
    font-size: 12px;
    font: bold;

}
#header .search-btn{
    float: right;
    padding: 0px 21px;
    cursor: pointer;
}

#header .search-icon{
    color: #fff;
    font-size: 16px;
    line-height: 46px;
}
#nav .subnav a {
    color: #000;
    line-height: 40px;
    
}
#header .search-btn:hover {
    background-color:  #f44336;
    cursor: pointer;
}

#slider {
    margin-top: 46px;  
    padding-top: 50%;
    background: url(/assets/img/slider-chicago.jpg) top center / cover no-repeat;
    position: relative;
    z-index: 1;
}

#slider .text-content {
    position: absolute;
    color: #fff; 
    bottom: 47px;
    right: 0;
    left: 0;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500px;
    font-size: 24px;
}
#slider .text-description {
    font-size: 15px;
    margin-top: 25px;

}
#content {
    width: 100%;

}
#content .content-section {
    width: 800px;
    padding: 64px 16px;
    margin-right: auto;
    margin-left: auto;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
}


#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}    

#content .about-text {
    font-size: 15px;
    margin-top: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    padding-top: 48px;
}

#content .member-item{
    float: left;
    width: calc(100%/3);
    text-align: center;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/*Tour section */
.tour-section{
    background: #000;
    min-width: 816px;
}
.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ccc;
    color: #757575;
    list-style: none;
}

.tickets-list .sold-out {
    color: #fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .qualtity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin: -3px;
}
/* Places */
.place-list{
    margin: 32px -8px 0;
    padding: 35px 0;
}

.place-item {
    float: left;
    width: calc(100%/3);
    padding: 0 8px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-content {
    color: #000;
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 550px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-description {
    margin: 15px 0;
    line-height: 1.4; 
}

.place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 17.2px;
    display: inline-block;
    border: none;

}

.place-buy-btn:hover {
    color: #000;
    background-color: rgb(216, 206, 206);
    cursor: pointer;
} 


/*Footer section*/
#footer {

        
}

.modal.open{
    display: flex;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: (100% - 32px);
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    padding-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.8;
}

#buy-tickets {
    background: #009688;
    color: #fff;
    font-size: 15px;
    border: none;
    width: 100%;
    text-transform: uppercase;
    padding: 18px;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}
